html {
    font-family: calibri;
}

body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh-10px);
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

div {
    margin: 15px;
    margin-top: 0px;
    height: 300px;
    width: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.easing div {
    margin: 0 15px;
    height: 100px;
}

.transition div {
    transition-duration: 500ms;
}

.color-change:hover {
    background-color: #ff7b00b4;
}

.rotate:hover {
    transform: rotate(45deg);
}

.rotate-color:hover {
    background-color: #ff7b00b4;
    transform: rotate(45deg);
}

.expand:hover {
    transform: scale(1.1);
}

.shrink:hover {
    transform: scale(0.7);
}

.easing div {
    transition-duration: 1s;
}

.easing:hover div {
    width: 900px;
}

.linear {
    transition-timing-function: linear;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}
